.billpage-header {
  height: fit-content;
}

.bill-container {
  width: 100%;
  height: 100%;
}

.bill-heading {
  display: flex;
  text-align: center;
  justify-content: center;
  color: rgb(5, 81, 213);
  font-size: 22px !important;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  margin-bottom: 30px;
}

.bill-content {
  width: 100%;
  height: fit-content;
}

.barcode-section {
  width: 100%;
  display: flex;
  justify-content: center;
}
.barcode-section input {
  padding: 5px;
  margin: 10px;
}

.Add-barcode-input{
    display: flex;
}

.ant-input-number {
  width: 50px !important;
  margin-top: 3px;
}

.input-btns {
  display: flex;
  justify-content: flex-start; /* Adjusted from space-between to flex-start */
  margin-bottom: 10px; 
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px; /* Adjust the margin between input containers as needed */
}

.button-containers {
  display: flex;
  align-items: center;
  margin-left: 10px; /* Adjust the margin between the button and inputs */
  margin-top: 20px;
}

.button-containers button {
  /* Add any specific button styles here */

  font-weight: 800;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.75rem;
  /* margin: 10px 10px 0 100px; */
  padding: 10px;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  transition: border-radius 0.15s;
  color: #001e2b;
  stroke: #001e2b;
  fill: #001e2b;
  border-color: #001e2b;
  background-color: #6c8dd5;
  display: flex;
  align-items: flex-end;
}
.button-containers button:hover {
  border-radius: 20px;
}

/* Adjust styles as needed */
.quanty-para,
p {
  margin: 0;
}

.input-container input {
  width: 60px;
  margin: 0;
}

.billpage-table {
  margin-top: 1.5rem;
}

.total-section {
  display: flex;
  justify-content: space-evenly;
  margin: 1.5rem;
}

.bill-page-btn{
  display: flex;
  justify-content: space-evenly;
  margin: 7%;
}

.bill-page-btn button{
  width: 5rem;
  padding: 10px;
  margin-top: 10px;
  font-weight: 800;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.75rem;
  padding: 0.75rem;
  margin-top: 0.5rem;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  transition: border-radius 0.15s;
  color: #001e2b;
  stroke: #001e2b;
  fill: #001e2b;
  border-color: #001e2b;
  background-color: #6c8dd5;
}

/* Mobile view */
@media (max-width: 768px) {
  .bill-heading {
    font-size: 18px;
  }

  .barcode-section {
    flex-direction: column;
    align-items: center;
  }

  .barcode-section input {
    margin: 5px 0;
  }

  .Add-barcode-input {
    flex-direction: column;
    align-items: center;
  }

  .input-btns {
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
  }

  .input-container {
    align-items: center;
    margin: 10px 0;
  }

  .button-containers {
    margin: 10px 0;
  }

  .button-containers button {
    margin-top: 10px;
  }

  .billpage-table {
    position: relative;
    overflow-x: auto;
    width: 100%;
    margin-top: 10px; /* Adjust as needed */
  }

  .billpage-table table {
    width: 100%;
  }

  /* .ant-pagination{
    position: sticky;
    bottom: 0;
    background-color: #fff; 
    z-index: 1; 
  } */

  .total-section {
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
  }

  .bill-page-btn {
    flex-direction: column;
    align-items: center;
    margin: 7%;
  }

  .bill-page-btn button {
    width: 100%;
    margin-top: 10px;
  }
}
