.ant-layout.ant-layout-has-sider{
    height: fit-content;
   
}


.ant-layout-has-sider{
    padding: 5px !important;
   
}

.ant-layout-sider{
    padding-top: 10px !important;
    border-radius: 10px !important;
    background-image: linear-gradient(to right, #010046, #0905E2) !important;
}
.ant-menu-dark{
  background-image: linear-gradient(to right, #010046, #0905E2) !important;
}
.ant-menu-item{
  color: #ffffff;
}
.ant-menu-item a{
  text-decoration: none;
}
.ant-menu-item-selected {
  background-color: #ffffff !important;
  border-top-left-radius: 30px !important;
  border-bottom-left-radius: 30px !important;
}

.ant-menu-item-selected >.ant-menu-title-content{
  color: black;
}

.ant-menu-item-selected .ant-menu-item-icon{
  color: black !important;
}
/* .ant-menu-dark.ant-menu-root.ant-menu-inline >.ant-menu-item-selected 
>.ant-menu-title-content a ::before{
  content: '';
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
} */

/* style for the header */
.ant-layout-header{
    box-shadow: 0 0 3px grey;
    border-radius: 8px;
    margin: 5px;
    background-image: linear-gradient(to right, #010046, #0905E2);
}
/* collapse button */
.ant-btn.ant-btn-icon-only{
  margin-left: -20px !important;
}
.ant-btn.ant-btn-icon-only .anticon{
  font-size: 20px;
}
.Header .ant-btn {
    margin-left: 0; 
    margin-right: auto;
   
  }
.header_container{
  flex: 1;
  text-align: center;
}
.header {
    margin: 0;
    color: #0905E2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    font-weight: 700;
    flex: 1;
    text-align: center;
    justify-content: center;
  }
  .sidebar_header {
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    margin-top: 8px;
    white-space: normal; 
    overflow: hidden; 
  }
  
  
/* mobile view */

@media only screen and (max-width: 768px) {

  .ant-layout.ant-layout-has-sider{
    height: 100%;  
}


}
  