.sales-container {
  width: 100%;
  height: 100%;
}
/* .sles-heading{
    display: flex;
} */
.sales-heading {
  display: flex;
  text-align: center;
  justify-content: center;
}
.Sales-h4{
  color: rgb(5, 81, 213);
  font-size: 22px !important;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.salestable-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.salestable-card {
  flex: 1 0 100px; /* Adjust card width as needed */
  background-image: linear-gradient(to right, #003EFF, #577FFA);
  color: whitesmoke;
  border: 1px solid #ffffff;
  padding: 10px;
  transition: box-shadow 0.3s ease;
  box-shadow: none;
  margin-top: 30px;
}

.salestable-card:hover {
  box-shadow: 0 10px 15px 0 rgb(38, 99, 240);
}

.salescard-content p {
  margin: 5px 0;
}

.outstanding-bill {
  margin-top: 20px;
  flex-direction: column;
  display: flex;
}

.outstanding-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.outstanding-content p{
  margin: 5px 0;
}

.outstanding-card {
  flex: 1 0 100px; /* Adjust card width as needed */
  background-image: linear-gradient(to right, #003EFF, #577FFA);
  color: whitesmoke;
  border: 1px solid #ffffff;
  padding: 25px;
  transition: box-shadow 0.3s ease;
  box-shadow: none;
  margin-top: 30px;
}
.outstanding-card:hover{
  box-shadow: 0 10px 15px 0 rgb(38, 99, 240);
}

/* table */
.credit-bill-customer {
  margin-top: 25px;
  overflow-x: auto;
}

/* Media query for mobile view */
@media (max-width: 768px) {
  .sales-content {
    margin: 0;
  }
  .sales-head {
    display: flex;
    flex-direction: row; /* Revert to horizontal layout */
    gap: 70px; /* Restore original gap for larger screens */
  }

  .salestable {
    width: 100%;
    margin-top: 20px;
    flex-basis: 100%; /* Cards take up full width in mobile view */
  }

  .salestable-content {
    flex-direction: column; /* Display cards vertically */
  }

  .salestable-card {
    width: 100%;
    margin-bottom: 20px; /* Add space between cards */
  }
  .salestable-card:hover {
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.7);
  }

  .outstanding-content {
    flex-direction: column;
  }

  .outstanding-card {
    width: 100%;
    margin-bottom: 20px; 
  }
  .outstanding-card:hover{
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.7);
  }

  /* responsive for mobile view */
  .credit-bill-customer {
    overflow-x: auto; /* Add horizontal scroll for small screens */
    display: block; /* Display as block for scroll */
    width: 100%; /* Set width to fill the container */
  }

  .credit-bill-customer table {
    width: 100%; /* Set table width to fill the container */
  }

  /* Optionally, you can adjust column widths or styles */
  .credit-bill-customer th,
  .credit-bill-customer td {
    white-space: nowrap; /* Prevent text wrapping */
  }
}
